h3{
    margin-top: 1mm;
    margin-left: 4mm;
    margin-bottom: 3mm;
    margin-right: 4mm;
}
#border{
    border: 2px solid black;
    width: 10cm;
    height: 5cm;
    font-size: x-large;
}

#list{
    margin-left: 8mm;
}